*, *::after, *::after {
    box-sizing: border-box;
}

html, body {
    color: #ffffff;
    font-size: 62.5%;
    font-weight: normal;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a 
{
    text-decoration: none;
    color: inherit;
}
button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff ;
}

.header {
    padding: 4rem 11rem 3rem 8rem;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: 1.6rem;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: 1.6rem;
}

.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
}

.main-display__timer {
    display: flex;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count